<h1>New restaurant</h1>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category, as: :check_boxes, collection: Restaurant::CATEGORY %>
  <%= f.submit %>
<% end %>

<%= link_to "Back to Home",  restaurants_path  %>